Submissions/2016-04-11 Submission/Archive/AcRec.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:AcRec="urn:org:pesc:sector:AcademicRecord:v1.9.0" targetNamespace="urn:org:pesc:sector:AcademicRecord:v1.9.0" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="v1.9.0">
	<xs:import xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" namespace="urn:org:pesc:core:CoreMain:v1.16.0" schemaLocation="CoreMain_v1.16.0.xsd"/>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="ContactsType">
		<xs:sequence>
			<xs:element name="Address" type="AcRec:AddressType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Phone" type="AcRec:PhoneType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="FaxPhone" type="AcRec:PhoneType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Email" type="AcRec:EmailType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="URL" type="core:URLType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="AddressType">
		<xs:complexContent>
			<xs:extension base="core:AddressType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="PhoneType">
		<xs:complexContent>
			<xs:extension base="core:PhoneType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="EmailType">
		<xs:complexContent>
			<xs:extension base="core:EmailType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="TransmissionDataType">
		<xs:sequence>
			<xs:element name="DocumentID" type="core:DocumentIDType"/>
			<xs:element name="CreatedDateTime" type="core:CreatedDateTimeType"/>
			<xs:element name="DocumentTypeCode" type="core:DocumentTypeCodeType"/>
			<xs:element name="TransmissionType" type="core:TransmissionTypeType"/>
			<xs:element name="Source" type="AcRec:SourceDestinationType"/>
			<xs:element name="Destination" type="AcRec:SourceDestinationType"/>
			<xs:element name="DocumentProcessCode" type="core:DocumentProcessCodeType" minOccurs="0"/>
			<xs:element name="DocumentOfficialCode" type="core:DocumentOfficialCodeType" minOccurs="0"/>
			<xs:element name="DocumentCompleteCode" type="core:DocumentCompleteCodeType" minOccurs="0"/>
			<xs:element name="RequestTrackingID" type="core:RequestTrackingIDType" minOccurs="0"/>
			<xs:element name="UserDefinedExtensions" type="core:UserDefinedExtensionsType" minOccurs="0"/>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="SourceDestinationType">
		<xs:annotation>
			<xs:documentation>Type for Source and Destination</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Organization" type="AcRec:OrganizationType"/>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="OrganizationType">
		<xs:sequence>
			<xs:group ref="core:OrganizationIDMultiChoiceGroup"/>
			<xs:element name="LocalOrganizationID" type="core:LocalOrganizationIDType" minOccurs="0"/>
			<xs:element name="OrganizationName" minOccurs="0" maxOccurs="unbounded">
				<xs:simpleType>
					<xs:restriction base="core:OrganizationNameType">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Contacts" type="AcRec:ContactsType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Accreditation" type="core:AccreditationType" minOccurs="0"/>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="K12StudentType">
		<xs:annotation>
			<xs:documentation>Student Type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Person" type="AcRec:K12PersonType"/>
			<xs:element name="AcademicRecord" type="AcRec:AcademicRecordType" maxOccurs="unbounded"/>
			<xs:element name="Health" type="core:HealthType" minOccurs="0"/>
			<xs:element name="Tests" type="core:TestsType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="UserDefinedExtensions" type="core:UserDefinedExtensionsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="K12PersonType">
		<xs:sequence>
			<xs:element name="SchoolAssignedPersonID" type="core:SchoolAssignedPersonIDType" minOccurs="0"/>
			<xs:element name="SIN" type="core:SINIDType" minOccurs="0"/>
			<xs:element name="NSN" type="core:NSNIDType" minOccurs="0"/>
			<xs:element name="AgencyAssignedID" type="core:AgencyAssignedIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is to be deprecated in a future release.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AgencyIdentifier" type="core:AgencyIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RecipientAssignedID" type="core:RecipientAssignedIDType" minOccurs="0"/>
			<xs:element name="SSN" type="core:SSNType" minOccurs="0"/>
			<xs:element name="PartialSSN" type="core:PartialSSNType" minOccurs="0"/>
			<xs:element name="Birth" type="AcRec:BirthType" minOccurs="0"/>
			<xs:element name="Name" type="core:NameType"/>
			<xs:element name="AlternateName" type="core:NameType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>May not be needed</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ParentGuardianName" type="core:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>To be deprecated in a future release</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ParentGuardian" type="core:ParentGuardianType" minOccurs="0"/>
			<xs:element name="Contacts" type="AcRec:ContactsType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Gender" type="core:GenderType" minOccurs="0"/>
			<xs:choice>
				<xs:element name="RaceEthnicity" type="core:RaceEthnicityType" minOccurs="0"/>
				<xs:element name="EthnicityRace" type="core:EthnicityRaceType" minOccurs="0"/>
			</xs:choice>
			<xs:element name="Deceased" type="core:DeceasedType" minOccurs="0"/>
			<xs:element name="Language" type="core:LanguageType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="BirthType">
		<xs:sequence>
			<xs:element name="BirthDate" type="core:BirthDateType" minOccurs="0"/>
			<xs:element name="Birthday" type="core:BirthdayType" minOccurs="0"/>
			<xs:element name="BirthCity" type="core:CityType" minOccurs="0"/>
			<xs:element name="BirthState" type="core:StateProvinceCodeType" minOccurs="0"/>
			<xs:element name="BirthCountry" type="core:CountryCodeType" minOccurs="0"/>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="AcademicRecordType">
		<xs:sequence>
			<xs:element name="School" type="AcRec:SchoolType" minOccurs="0"/>
			<xs:element name="StudentLevel" type="core:StudentLevelType" minOccurs="0"/>
			<xs:element name="CohortGraduationYear" type="core:CohortYearType" minOccurs="0"/>
			<xs:element name="AcademicAward" type="AcRec:AcademicAwardType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AcademicSummary" type="AcRec:AcademicSummaryFType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AcademicSession" type="AcRec:AcademicSessionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Course" type="AcRec:CourseType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AdditionalStudentAchievements" type="core:AdditionalStudentAchievementsType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="UserDefinedExtensions" type="core:UserDefinedExtensionsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="SchoolType">
		<xs:sequence>
			<xs:element name="OrganizationName" type="core:OrganizationNameType"/>
			<xs:group ref="core:OrganizationIDMultiChoiceGroup"/>
			<xs:element name="LocalOrganizationID" type="core:LocalOrganizationIDType" minOccurs="0"/>
			<xs:element name="SchoolOverrideCode" type="core:SchoolOverrideCodeType" minOccurs="0"/>
			<xs:element name="SchoolLevel" type="core:SchoolLevelType" minOccurs="0"/>
			<xs:element name="Contacts" type="AcRec:ContactsType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="AcademicAwardType">
		<xs:sequence>
			<xs:element name="AcademicAwardLevel" type="core:AcademicAwardLevelType" minOccurs="0"/>
			<xs:element name="AcademicAwardDate" type="core:AcademicAwardDateType" minOccurs="0"/>
			<xs:element name="AcademicAwardTitle" type="core:AcademicAwardTitleType" minOccurs="0"/>
			<xs:element name="AcademicHonors" type="core:AcademicHonorsType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AcademicCompletionIndicator" type="core:AcademicCompletionIndicatorType" minOccurs="0"/>
			<xs:element name="AcademicCompletionDate" type="core:AcademicCompletionDateType" minOccurs="0"/>
			<xs:element name="AcademicAwardProgram" type="AcRec:AcademicProgramType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AcademicDegreeRequirement" type="core:AcademicDegreeRequirementType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AcademicSummary" type="AcRec:AcademicSummaryE1Type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="AcademicProgramType">
		<xs:complexContent>
			<xs:extension base="core:AcademicProgramType">
				<xs:sequence>
					<xs:element name="UserDefinedExtensions" type="core:UserDefinedExtensionsType" minOccurs="0"/>
					<xs:element name="ProgramSummary" type="AcRec:AcademicSummaryE2Type" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="AcademicSummaryE2Type">
		<xs:annotation>
			<xs:documentation>Used in  AcademicProgramType</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AcRec:AcademicSummaryBaseType">
				<xs:sequence>
					<xs:element name="Delinquencies" type="core:DelinquenciesType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="ExitDate" type="core:ExitDateType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="AcademicSummaryBaseType">
		<xs:annotation>
			<xs:documentation>Base type, only used as extension base</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcademicSummaryType" type="core:AcademicSummaryTypeType" minOccurs="0"/>
			<xs:element name="AcademicSummaryLevel" type="core:CourseCreditLevelType" minOccurs="0"/>
			<xs:element name="GPA" type="core:GPAType" minOccurs="0"/>
			<xs:element name="AcademicHonors" type="core:AcademicHonorsType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ClassRank" type="core:ClassRankType" minOccurs="0"/>
			<xs:element name="ClassSize" type="core:ClassSizeType" minOccurs="0"/>
			<xs:element name="UserDefinedExtensions" type="core:UserDefinedExtensionsType" minOccurs="0"/>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="HighSchoolCreditSummary" type="core:HighSchoolCreditSummaryType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="AcademicSummaryE1Type">
		<xs:annotation>
			<xs:documentation>Used in  AcademicRecordType and AcademicAwardType</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AcRec:AcademicSummaryBaseType">
				<xs:sequence>
					<xs:element name="AcademicProgram" type="core:AcademicProgramType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="AcademicSummaryFType">
		<xs:annotation>
			<xs:documentation>Full type, used in AcademicSessionType and TransferCreditType</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AcRec:AcademicSummaryBaseType">
				<xs:sequence>
					<xs:element name="AcademicProgram" type="core:AcademicProgramType" minOccurs="0"/>
					<xs:element name="Delinquencies" type="core:DelinquenciesType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="EntryDate" type="core:EntryDateType" minOccurs="0"/>
					<xs:element name="ExitDate" type="core:ExitDateType" minOccurs="0"/>
					<xs:element name="ExitReasonCode" type="core:ExitReasonCodeType" minOccurs="0"/>
					<xs:element name="ClassRankSessionCount" type="core:ClassRankSessionCountType" minOccurs="0"/>
					<xs:choice>
						<xs:element name="ClassRankDate" type="core:ClassRankDateType" minOccurs="0"/>
						<xs:element name="ClassRankYear" type="core:ClassRankYearType" minOccurs="0"/>
						<xs:element name="ClassRankYearMonth" type="core:ClassRankYearMonthType" minOccurs="0"/>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="AcademicSessionType">
		<xs:sequence>
			<xs:element name="AcademicSessionDetail" type="core:AcademicSessionDetailType"/>
			<xs:element name="School" type="AcRec:SchoolType" minOccurs="0"/>
			<xs:element name="StudentLevel" type="core:StudentLevelType" minOccurs="0"/>
			<xs:element name="AcademicProgram" type="AcRec:AcademicProgramType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AcademicAward" type="AcRec:AcademicAwardType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Course" type="AcRec:CourseType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AcademicSummary" type="AcRec:AcademicSummaryFType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AttendanceCount" type="core:AttendanceCountType" minOccurs="0"/>
			<xs:element name="UserDefinedExtensions" type="core:UserDefinedExtensionsType" minOccurs="0"/>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="CourseType">
		<xs:sequence>
			<xs:element name="CourseCreditBasis" type="core:CourseCreditBasisType"/>
			<xs:element name="CourseCreditUnits" type="core:CourseCreditUnitsType" minOccurs="0"/>
			<xs:element name="CourseCreditLevel" type="core:CourseCreditLevelType" minOccurs="0"/>
			<xs:element name="CourseCreditValue" type="core:CourseCreditValueType" minOccurs="0"/>
			<xs:element name="CourseCreditEarned" type="core:CourseCreditEarnedType" minOccurs="0"/>
			<xs:element name="CourseAcademicGradeScaleCode" type="core:CourseAcademicGradeScaleCodeType" minOccurs="0"/>
			<xs:element name="CourseAcademicGrade" type="core:CourseAcademicGradeType" minOccurs="0"/>
			<xs:element name="CourseSupplementalAcademicGrade" type="AcRec:CourseSupplementalAcademicGradeType" minOccurs="0"/>
			<xs:element name="CourseAcademicGradeStatusCode" type="core:CourseAcademicGradeStatusCodeType" minOccurs="0"/>
			<xs:element name="CourseNarrativeExplanationGrade" type="core:CourseNarrativeExplanationGradeType" minOccurs="0"/>
			<xs:element name="CourseRepeatCode" type="core:CourseRepeatCodeType" minOccurs="0"/>
			<xs:choice>
				<xs:element name="CourseCIPCode" type="core:CourseCIPCodeType" minOccurs="0"/>
				<xs:element name="CourseCSISCode" type="core:CourseCSISCodeType" minOccurs="0"/>
				<xs:element name="CourseUSISCode" type="core:CourseUSISCodeType" minOccurs="0"/>
				<xs:element name="CourseNCESCode" type="core:CourseNCESCodeType" minOccurs="0"/>
				<xs:element name="CourseSCEDCode" type="core:CourseSCEDCodeType" minOccurs="0"/>
				<xs:element name="CourseFiveDigitSCEDCode" type="core:CourseFiveDigitSCEDCodeType" minOccurs="0"/>
				<xs:element name="CourseSubjectAreaCode" type="core:CourseSubjectAreaCodeType" minOccurs="0"/>
			</xs:choice>
			<xs:element name="CourseQualityPointsEarned" type="core:CourseQualityPointsEarnedType" minOccurs="0"/>
			<xs:element name="CourseLevel" type="core:CourseLevelType" minOccurs="0"/>
			<xs:element name="CourseGPAApplicabilityCode" type="core:CourseGPAApplicabilityCodeType" minOccurs="0"/>
			<xs:element name="CourseSubjectAbbreviation" type="core:CourseSubjectAbbreviationType" minOccurs="0"/>
			<xs:element name="CourseNumber" type="core:CourseNumberType" minOccurs="0"/>
			<xs:element name="CourseSectionNumber" type="core:CourseSectionNumberType" minOccurs="0"/>
			<xs:element name="OriginalCourseID" type="core:OriginalCourseIDType" minOccurs="0"/>
			<xs:element name="AgencyCourseID" type="core:AgencyCourseIDType" minOccurs="0"/>
			<xs:element name="CourseTitle" type="core:CourseTitleType" minOccurs="0"/>
			<xs:element name="CourseAddDate" type="core:CourseAddDateType" minOccurs="0"/>
			<xs:element name="CourseDropDate" type="core:CourseDropDateType" minOccurs="0"/>
			<xs:element name="CourseOverrideSchool" type="AcRec:SchoolType" minOccurs="0"/>
			<xs:element name="OverrideSchoolCourseNumber" type="core:OverrideSchoolCourseNumberType" minOccurs="0"/>
			<xs:element name="CourseApplicability" type="core:CourseApplicabilityType" minOccurs="0"/>
			<xs:element name="CourseBeginDate" type="core:CourseBeginDateType" minOccurs="0"/>
			<xs:element name="CourseEndDate" type="core:CourseEndDateType" minOccurs="0"/>
			<xs:element name="CourseInstructionSite" type="core:CourseInstructionSiteType" minOccurs="0"/>
			<xs:element name="CourseInstructionSiteName" type="core:CourseInstructionSiteNameType" minOccurs="0"/>
			<xs:element name="Requirement" type="core:RAPType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Attribute" type="core:RAPType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Proficiency" type="core:RAPType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Licensure" type="core:LicensureType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="LanguageOfInstruction" type="core:LanguageOfInstructionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="UserDefinedExtensions" type="core:UserDefinedExtensionsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="CourseSupplementalAcademicGradeType">
		<xs:sequence>
			<xs:element name="CourseSupplementalGrade" type="AcRec:CourseSupplementalGradeType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="CourseSupplementalGradeType">
		<xs:sequence>
			<xs:element name="SupplementalGradeCode" type="core:SupplementalGradeCodeType" minOccurs="0"/>
			<xs:element name="SupplementalGradeSubSession" type="core:SupplementalGradeSubSessionType" minOccurs="0"/>
			<xs:element name="CourseAcademicSupplementalGradeScaleCode" type="core:CourseAcademicGradeScaleCodeType" minOccurs="0"/>
			<xs:element name="CourseAcademicSupplementalGradeStatusCode" type="core:CourseAcademicGradeStatusCodeType" minOccurs="0"/>
			<xs:element name="CourseAcademicSupplementalGrade" type="core:CourseAcademicGradeType" minOccurs="0"/>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="StudentType">
		<xs:annotation>
			<xs:documentation>Student Type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Person" type="AcRec:PersonType"/>
			<xs:element name="AcademicRecord" type="AcRec:AcademicRecordType" maxOccurs="unbounded"/>
			<xs:element name="Health" type="core:HealthType" minOccurs="0"/>
			<xs:element name="Tests" type="core:TestsType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="UserDefinedExtensions" type="core:UserDefinedExtensionsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="PersonType">
		<xs:sequence>
			<xs:element name="SchoolAssignedPersonID" type="core:SchoolAssignedPersonIDType" minOccurs="0"/>
			<xs:element name="SIN" type="core:SINIDType" minOccurs="0"/>
			<xs:element name="NSN" type="core:NSNIDType" minOccurs="0"/>
			<!-- AgencyAssignedID should be indicated as deprecated and will be removed from a future release -->
			<xs:element name="AgencyAssignedID" type="core:AgencyAssignedIDType" minOccurs="0"/>
			<xs:element name="AgencyIdentifier" type="core:AgencyIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RecipientAssignedID" type="core:RecipientAssignedIDType" minOccurs="0"/>
			<xs:element name="SSN" type="core:SSNType" minOccurs="0"/>
			<xs:element name="PartialSSN" type="core:PartialSSNType" minOccurs="0"/>
			<xs:element name="Birth" type="core:BirthType" minOccurs="0"/>
			<xs:element name="Name" type="core:NameType"/>
			<xs:element name="AlternateName" type="core:NameType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="HighSchool" type="AcRec:HighSchoolType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is the secondary school  (high school) from which the person graduated or the last high school the party attended.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Contacts" type="AcRec:ContactsType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Gender" type="core:GenderType" minOccurs="0"/>
			<xs:element name="Residency" type="AcRec:ResidencyType" minOccurs="0"/>
			<xs:element name="Deceased" type="core:DeceasedType" minOccurs="0"/>
			<xs:element name="Language" type="core:LanguageType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="HighSchoolType">
		<xs:sequence>
			<xs:element name="OrganizationName" type="core:OrganizationNameType"/>
			<xs:group ref="core:OrganizationIDMultiChoiceGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="ResidencyType">
		<xs:complexContent>
			<xs:extension base="core:ResidencyType">
				<xs:sequence>
					<xs:element name="StateProvince" type="core:StateProvinceType" minOccurs="0"/>
					<xs:element name="CountyCode" type="core:CountyCodeType" minOccurs="0"/>
					<xs:element name="County" type="core:CountyType" minOccurs="0"/>
					<xs:element name="CountryCode" type="core:CountryCodeType" minOccurs="0"/>
					<xs:element name="Country" type="core:CountryType" minOccurs="0"/>
					<xs:element name="ResidencyStatusCode" type="core:ResidencyStatusCodeType" minOccurs="0"/>
					<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="TestScoreReportType">
		<xs:annotation>
			<xs:documentation>Informaiton about the attribuites, accomplishments and test scores of a set of students</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TransmissionData" type="AcRec:TransmissionDataType"/>
			<xs:element name="TestStudent" type="AcRec:TestStudentType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Structure containing all information that is transmitted for a particular student</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="UserDefinedExtensions" type="core:UserDefinedExtensionsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="TestStudentType">
		<xs:annotation>
			<xs:documentation>Information including student characteristics, academic history and test scores</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TestPerson" type="AcRec:TestPersonType"/>
			<xs:element name="AcademicRecord" type="AcRec:AcademicRecordType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="SelfReportedAcademicRecord" type="AcRec:SelfReportedAcademicRecordType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The grades and activities as reported by the student</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StudentActivities" type="AcRec:StudentActivitiesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Information about the students extracurricular and education based activities</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SchoolSelectionCriteria" type="AcRec:SchoolSelectionCriteriaType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Encapsulates various criteria that the student finds important in selecting a educational institution</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EducationTests" type="AcRec:EducationTestsType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Contains score and interpretive data for all the tests reported in the test score report</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcademicPrediction" type="AcRec:AcademicPredictionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AdditionalStudentCharacteristics" type="AcRec:CharacteristicsSelectionsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A generic structure for summarizing information about a student that is not covered in other areas</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0"/>
			<xs:element name="UserDefinedExtensions" type="core:UserDefinedExtensionsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="TestPersonType">
		<xs:annotation>
			<xs:documentation>The personal and demographics attributes of a student</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StudentIdentification" type="AcRec:StudentIdentificationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Encapsulates several standard codes that identify a specific individual</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Birth" type="core:BirthType" minOccurs="0"/>
			<xs:element name="Name" type="core:NameType"/>
			<xs:element name="AlternateName" type="core:NameType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Contacts" type="core:ContactsType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Gender" type="core:GenderType" minOccurs="0"/>
			<xs:element name="Residency" type="AcRec:ResidencyType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Encapsulates a set of codes used to identify the location of the residency of a student</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Language" type="core:LanguageType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="StudentIdentificationType">
		<xs:annotation>
			<xs:documentation>A code that uniquely identifies a examinee</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SchoolAssignedPersonID" type="core:SchoolAssignedPersonIDType" minOccurs="0"/>
			<xs:element name="SIN" type="core:SINIDType" minOccurs="0"/>
			<xs:element name="NSN" type="core:NSNIDType" minOccurs="0"/>
			<xs:element name="AgencyAssignedID" type="core:AgencyAssignedIDType" minOccurs="0"/>
			<xs:element name="RecipientAssignedID" type="core:RecipientAssignedIDType" minOccurs="0"/>
			<xs:element name="SSN" type="core:SSNType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="SelfReportedAcademicRecordType">
		<xs:annotation>
			<xs:documentation>The school and course information as summarized by the student</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="School" type="core:SchoolType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A structure identifying a particular educational institution</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrentSchoolIndicator" type="core:CurrentSchoolIndicatorType" minOccurs="0"/>
			<xs:element name="GraduationIndicator" type="core:GraduationIndicatorType" minOccurs="0"/>
			<xs:element name="ClassRank" type="core:ClassRankType" minOccurs="0"/>
			<xs:element name="ClassSize" type="core:ClassSizeType" minOccurs="0"/>
			<xs:choice>
				<xs:element name="ExitDate" type="core:ExitDateType">
					<xs:annotation>
						<xs:documentation>The time that the student last attended the educational institution in YYYY-MM-DD format</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ExitDateYearMonth" type="core:ExitDateYearMonthType"/>
				<xs:element name="ExitDateYear" type="core:ExitDateYearType"/>
			</xs:choice>
			<xs:element name="SelfReportedSubject" type="AcRec:SelfReportedSubjectType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>This structure contains the self reported grades and GPA for a set of courses</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SelfReportedCourse" type="AcRec:SelfReportedCourseType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>This structure contains the self reported grades for a particular course</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GPA" type="core:GPAType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="SelfReportedSubjectType">
		<xs:annotation>
			<xs:documentation>The academic area that is being reported</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SubjectAreaName" type="core:SubjectAreaNameType"/>
			<xs:element name="NumberCourses" type="core:NumberCoursesType" minOccurs="0"/>
			<xs:choice minOccurs="0">
				<xs:element name="GPA" type="core:GPAType"/>
				<xs:element name="SubjectAverageGrade" type="AcRec:CourseGradeType"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="CourseGradeType">
		<xs:annotation>
			<xs:documentation>An assessment score that is expressed as an academic mark </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CourseAcademicGrade" type="core:CourseAcademicGradeType"/>
			<xs:element name="CourseAcademicGradeScaleCode" type="core:CourseAcademicGradeScaleCodeType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="SelfReportedCourseType">
		<xs:annotation>
			<xs:documentation>Subjects and grades as summarized by the student</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CourseTitle" type="core:CourseTitleType"/>
			<xs:element name="CourseGrade" type="AcRec:CourseGradeType" minOccurs="0"/>
			<xs:element name="CourseStatusCode" type="core:CourseStatusCodeType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="StudentActivitiesType">
		<xs:annotation>
			<xs:documentation>The various activities and accomplishments of a student</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AdditionalStudentAchievements" type="AcRec:AdditionalStudentAchievementsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Summary of accomplishments that are not reflected as grades</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtracurricularActivitity" type="AcRec:ExtracurricularActivityType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="UserDefinedExtensions" type="core:UserDefinedExtensionsType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="AdditionalStudentAchievementsType">
		<xs:annotation>
			<xs:documentation>Student accomplishments description </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AchievementCategoryCode" type="AcRec:AchievementCategoryCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The general category of the achievement</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AchievementTitle" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The name or title of the achievement</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Sponsor" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The name  or title of the person that sponsored the achievement</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StudentLevelCode" type="core:StudentLevelCodeType" minOccurs="0"/>
			<xs:element name="AwardYear" type="core:AwardYearType" minOccurs="0"/>
			<xs:element name="AwardYearMonth" type="core:AwardYearMonthType" minOccurs="0"/>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="AchievementCategoryCodeType">
		<xs:annotation>
			<xs:documentation>The general classification of an achievement</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Academic"/>
			<xs:enumeration value="Arts"/>
			<xs:enumeration value="Athletic"/>
			<xs:enumeration value="BusinessEmployment"/>
			<xs:enumeration value="CommunityService"/>
			<xs:enumeration value="Leadership"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="ExtracurricularActivityType">
		<xs:annotation>
			<xs:documentation>The students out of class activities</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StudentActivityCode" type="core:StudentActivityCodeType" minOccurs="0"/>
			<xs:element name="StudentActivityDescription" type="core:StudentActivityDescriptionType" minOccurs="0"/>
			<xs:element name="StudentActivityGradeLevel" type="core:StudentActivityGradeLevelType" minOccurs="0"/>
			<xs:element name="YearMonthBegin" type="core:YearMonthBeginType" minOccurs="0"/>
			<xs:element name="YearMonthEnd" type="core:YearMonthEndType" minOccurs="0"/>
			<xs:element name="NumberOfYears" type="core:NumberOfYearsType" minOccurs="0"/>
			<xs:element name="WeeklyHours" type="core:WeeklyHoursType" minOccurs="0"/>
			<xs:element name="YearlyWeeks" type="core:YearlyWeeksType" minOccurs="0"/>
			<xs:element name="StudentActivtyRecognitions" type="core:StudentActivityRecognitionsType" minOccurs="0"/>
			<xs:element name="StudentActivityScopeCode" type="core:StudentActivityScopeCodeType" minOccurs="0"/>
			<xs:element name="OrganizationName" type="core:OrganizationNameType" minOccurs="0"/>
			<xs:element name="LeadershipPosition" type="core:LeadershipPositionType" minOccurs="0"/>
			<xs:element name="LeadershipCharacteristicCode" type="core:LeadershipCharacteristicCodeType" minOccurs="0"/>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="SchoolSelectionCriteriaType">
		<xs:annotation>
			<xs:documentation>The characteristics of an educational institution that are important for selection</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SchoolCharacteristics" type="AcRec:SchoolCharacteristicsType" minOccurs="0"/>
			<xs:element name="SchoolSupportServices" type="AcRec:SchoolSupportServicesType" minOccurs="0"/>
			<xs:element name="FinancialAidNeeds" type="AcRec:FinancialAidNeedsType" minOccurs="0"/>
			<xs:element name="StudentActivityCode" type="core:StudentActivityCodeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="OtherSelectionCharacteristics" type="AcRec:CharacteristicsSelectionsType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="SchoolCharacteristicsType">
		<xs:annotation>
			<xs:documentation>General attributes of an academic institution</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SchoolOrganizationalControl" type="core:SchoolOrganizationalControlType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="SchoolLevel" minOccurs="0" maxOccurs="unbounded">
				<xs:simpleType>
					<xs:restriction base="AcRec:SchoolLevelType"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SchoolStudentEnrollment" type="AcRec:NumericRangeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The size of the student body of an institution</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SchoolDistance" type="AcRec:NumericRangeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The closeness  of the current students address to the educational institution</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReligiousAffiliation" type="core:ReligiousAffiliationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The religious affilitation of the educational institution</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SchoolAcademicLoadCode" type="core:SchoolAcademicLoadCodeType" minOccurs="0"/>
			<xs:element name="SchoolGenderCompostionCode" type="core:SchoolGenderCompostionCodeType" minOccurs="0"/>
			<xs:element name="SchoolTuition" type="AcRec:NumericRangeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The amount of money the student is able to pay for attending the school</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcademicMajor" type="AcRec:AcademicMajorType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The subject area in which the student wishes to concentrate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StateProvinceCode" type="core:StateProvinceCodeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CountryCode" type="core:CountryCodeType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="SchoolLevelType">
		<xs:annotation>
			<xs:documentation>Type of degree offered  by the educational institution</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="BacheloriateCollege"/>
			<xs:enumeration value="CommunityCollege"/>
			<xs:enumeration value="GraduateSchool"/>
			<xs:enumeration value="MBA"/>
			<xs:enumeration value="MBAAccelerated"/>
			<xs:enumeration value="Professional"/>
			<xs:enumeration value="Undergraduate"/>
			<xs:enumeration value="VocationalTechnical"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="NumericRangeType">
		<xs:annotation>
			<xs:documentation>A maximum and minimum value with inclusion or exclusion</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NumericLowerBound" type="core:NumericLowerBoundType" nillable="true"/>
			<xs:element name="NumericUpperBound" type="core:NumericUpperBoundType" nillable="true"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="AcademicMajorType">
		<xs:annotation>
			<xs:documentation>Academic subject area</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcademicProgramName" type="core:AcademicProgramNameType">
				<xs:annotation>
					<xs:documentation>The title of the area of concentration</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="core:AcademicProgramCodeGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="SchoolSupportServicesType">
		<xs:annotation>
			<xs:documentation>Particular institutional services offered by an educational institution</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SchoolServices" type="core:SchoolServicesType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AdvancedPlacementCode" type="core:AdvancedPlacementCodeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AdvancedSubjectCreditCode" type="core:AdvancedSubjectCreditCodeType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="FinancialAidNeedsType">
		<xs:annotation>
			<xs:documentation>Educational funding information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FamilyIncomeAmount" type="AcRec:NumericRangeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The financial status of the student and parents with respect to financial aid support</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinancialAidSupportIndicator" type="core:FinancialAidSupportIndicatorType" minOccurs="0"/>
			<xs:element name="WorkPlacementSupportIndicator" type="core:WorkPlacementSupportIndicatorType" minOccurs="0"/>
			<xs:element name="WorkHours" type="AcRec:NumericRangeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The amount of time  that the student is willing to spend in employment</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="CharacteristicsSelectionsType">
		<xs:annotation>
			<xs:documentation>Named attribute value pairs with values being text, numbers or ranges</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CharacteristicName" type="core:CharacteristicNameType"/>
			<xs:choice>
				<xs:element name="CharacteristicValue" type="core:CharacteristicValueType"/>
				<xs:element name="CharacteristicRange" type="AcRec:NumericRangeType">
					<xs:annotation>
						<xs:documentation>The minimum or maximum numeric value of an attribute of an educational institution</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SurveyQuestionValue" type="AcRec:SurveyQuestionType"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="SurveyQuestionType">
		<xs:annotation>
			<xs:documentation>An item of information gathered by questionnaire</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="QuestionTitle" type="core:QuestionTitleType" minOccurs="0"/>
			<xs:element name="QuestionID" type="core:QuestionIDType" minOccurs="0"/>
			<xs:element name="QuestionAreaCode" type="core:QuestionAreaCodeType" minOccurs="0"/>
			<xs:element name="QuestionRequiredCode" type="core:QuestionRequiredCodeType" minOccurs="0"/>
			<xs:element name="QuestionFormatCode" type="core:QuestionFormatCodeType" minOccurs="0"/>
			<xs:element name="QuestionText" type="core:QuestionTextType" minOccurs="0"/>
			<xs:choice minOccurs="0">
				<xs:element name="AllowedAnswerText" type="core:AllowedAnswerTextType" minOccurs="0" maxOccurs="50"/>
				<xs:element name="AnswerText" type="core:AnswerTextType" minOccurs="0"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="EducationTestsType">
		<xs:annotation>
			<xs:documentation>Identification of an assessment and all its attributes</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EducationTestCode" type="core:EducationTestCodeType"/>
			<xs:element name="EducationTestName" type="core:EducationTestNameType" minOccurs="0"/>
			<xs:element name="EducationTestVersion" type="core:EducationTestVersionType" minOccurs="0"/>
			<xs:element name="EducationTestGroup" type="core:EducationTestGroupType" minOccurs="0"/>
			<xs:element name="TestAdministrationMethodCode" type="core:TestAdministrationMethodCodeType" minOccurs="0"/>
			<xs:element name="TestRegistrationNumber" type="core:TestRegistrationNumberType" minOccurs="0"/>
			<xs:element name="ScoreExclusionReasonCode" type="core:ScoreExclusionReasonCodeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="NonStandardizedTestConditionsCode" type="core:NonStandardizedConditionsCodeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:choice>
				<xs:element name="TestDate" type="core:TestDateType"/>
				<xs:element name="TestYearMonth" type="core:TestYearMonthType"/>
				<xs:element name="TestYear" type="core:TestYearType"/>
			</xs:choice>
			<xs:element name="StudentLevel" type="core:StudentLevelType" minOccurs="0"/>
			<xs:element name="EducationSubtest" type="AcRec:EducationSubtestType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="UserDefinedExtensions" type="core:UserDefinedExtensionsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="EducationSubtestType">
		<xs:annotation>
			<xs:documentation>The scored sections of an assessment</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EducationSubtestCode" type="core:EducationSubtestCodeType"/>
			<xs:element name="EducationSubtestName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The name of a test section</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScoreRevisedIndicator" type="core:ScoreRevisedIndicatorType" minOccurs="0"/>
			<xs:element name="ScoreInvalidatedIndicator" type="core:ScoreInvalidatedIndicatorType" minOccurs="0"/>
			<xs:element name="ScoreSelfreportedIndicator" type="core:ScoreSelfreportedIndicatorType" minOccurs="0"/>
			<xs:choice>
				<xs:element name="ScoreExclusionReasonCode" type="core:ScoreExclusionReasonCodeType" maxOccurs="unbounded"/>
				<xs:element name="EducationTestScores" type="AcRec:EducationTestScoresType"/>
			</xs:choice>
			<xs:element name="Essay" type="AcRec:EssayType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="EducationTestScoresType">
		<xs:annotation>
			<xs:documentation>The quantitative value for an assessment section</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RawScoreValue" type="core:RawScoreValueType" minOccurs="0"/>
			<xs:element name="PercentCorrectValue" type="core:PercentCorrectValueType" minOccurs="0"/>
			<xs:element name="ScaleScoreValue" type="core:ScaleScoreValueType" minOccurs="0"/>
			<xs:element name="LabelValue" type="core:LabelValueType" minOccurs="0"/>
			<xs:element name="LocalValue" type="core:LocalValueType" minOccurs="0"/>
			<xs:element name="MasteryValue" type="AcRec:MasteryValueType" minOccurs="0"/>
			<xs:element name="CourseGrade" type="AcRec:CourseGradeType" minOccurs="0"/>
			<xs:element name="GPA" type="core:GPAType" minOccurs="0"/>
			<xs:element name="NormReferencedValues" type="AcRec:NormReferencedValuesType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="MasteryValueType">
		<xs:annotation>
			<xs:documentation>An indicator of the studrent's competence in a subject area</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MasteredIndicator" type="core:MasteredIndicatorType"/>
			<xs:element name="CutScore" type="core:CutScoreType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="NormReferencedValuesType">
		<xs:annotation>
			<xs:documentation>Test score values that are calcuated based upon a specific norm population</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NormPopulation" type="AcRec:NormPopulationType"/>
			<xs:element name="RankValue" type="core:RankValueType" minOccurs="0"/>
			<xs:element name="PercentileLowerBoundValue" type="core:PercentileLowerBoundValueType" minOccurs="0"/>
			<xs:element name="PercentileRankValue" type="core:PercentileRankValueType" form="unqualified" nillable="true" minOccurs="0"/>
			<xs:element name="PercentileUpperBoundValue" type="core:PercentileUpperBoundValueType" minOccurs="0"/>
			<xs:element name="StandardScoreValue" type="core:StandardScoreValueType" minOccurs="0"/>
			<xs:element name="NormalCurveValue" type="core:NormalCurveValueType" minOccurs="0"/>
			<xs:element name="StanineValue" type="core:StanineValueType" minOccurs="0"/>
			<xs:element name="ProbabilityValue" type="core:ProbabilityValueType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="NormPopulationType">
		<xs:annotation>
			<xs:documentation>The attributes of the population used in the norm referenced score.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NormPopulationCode" type="core:NormPopulationCodeType"/>
			<xs:element name="NormPopulationDescription" type="core:NormPopulationDescriptionType" minOccurs="0"/>
			<xs:element name="NormPopulationSize" type="core:NormPopulationSizeType" minOccurs="0"/>
			<xs:element name="Mean" type="xs:float" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element contains the arithmetic mean of the test scores of the norm population.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StandardDeviation" type="xs:float" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This element contains the standard deviation (sigma) of the scores for the norm population.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Median" type="xs:float" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This simple element contains the median value of the scores of the norm population.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NormDistribution" type="AcRec:NormDistributionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This complex element contains a structure that represents all the information needed to contruct a norm population histogram.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="NormDistributionType">
		<xs:sequence>
			<xs:element name="NormGroup" type="AcRec:NormGroupType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>This complex element contains the value and label information for a population category or range for one entry in a population histogram.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="NormGroupType">
		<xs:annotation>
			<xs:documentation>A complex type representing a single label and values in a histogram chart</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NormGroupLabel" type="xs:string">
				<xs:annotation>
					<xs:documentation>This simple element contains the label specifying a category or a range for a single entry in a histogram chart</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NormGroupFrequency" type="xs:unsignedLong" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This simple element contains the number of occurances of a category or range in a histogram chart</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NormGroupPercent" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This simple element contains the percent of total population included in this category or range in a histogram chart</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="EssayType">
		<xs:annotation>
			<xs:documentation>Information about a constructed response item</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EssayText" type="core:EssayTextType" minOccurs="0"/>
			<xs:element name="EssayPrompt" type="core:PromptType" minOccurs="0"/>
			<xs:element name="EssayURL" type="core:URLAddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The Universal Resource Locator where the constructed response image may be found</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" name="AcademicPredictionType">
		<xs:annotation>
			<xs:documentation>Statistical predictions of success in school from the assessments and inventories</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcademicPredictionCode" type="core:AcademicPredictionCodeType"/>
			<xs:element name="AcademicPredictionSubject" type="core:AcademicPredictionSubjectType"/>
			<xs:element name="AcademicPredictionValue" type="AcRec:EducationTestScoresType"/>
			<xs:element name="AcademicPredictionInterpretation" type="core:AcademicPredictionInterpretationType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>