Submissions/2018-03-16 Document Request and Response/Schema/DocumentRequest_v1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns="urn:org:pesc:message:DocumentRequest:v1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:core="urn:org:pesc:core:CoreMain:v1.19.1" xmlns:AcRec="urn:org:pesc:sector:AcademicRecord:v1.14.0" xmlns:DocRequest="urn:org:pesc:message:DocumentRequest:v1.0.0" targetNamespace="urn:org:pesc:message:DocumentRequest:v1.0.0" elementFormDefault="unqualified" version="v1.0.0">	<xs:import namespace="urn:org:pesc:core:CoreMain:v1.19.1" schemaLocation="CoreMain_v1.19.1.xsd"/>	<xs:import namespace="urn:org:pesc:sector:AcademicRecord:v1.14.0" schemaLocation="AcademicRecord_v1.14.0.xsd"/>	<xs:annotation>		<xs:documentation>PESC XML Message Schema for Document Order Request</xs:documentation>	</xs:annotation>	<!--=================================================================================-->	<!--XML Message Schema for Document Order Request-->	<!--Revision: 1.1.0-->	<!--Date:       23-February-2018-->	<!--Change Log:-->	<!--1.0.0  2-February-2018  Initial Release -->	<!--=================================================================================-->	<xs:element name="DocumentRequest">		<xs:complexType>			<xs:sequence>				<xs:element name="TransmissionData" type="AcRec:TransmissionDataType"/>				<xs:element name="RequestDetails" type="AcRec:RequestDetailsType" maxOccurs="unbounded"/>				<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>				<xs:element name="UserDefinedExtensions" type="core:UserDefinedExtensionsType" minOccurs="0"/>			</xs:sequence>		</xs:complexType>	</xs:element></xs:schema>