Submissions/2018-03-16 Document Request and Response/Schema/DocumentResponse_v1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com) by Michael Morris (ACT) --><xs:schema xmlns="urn:org:pesc:message:DocumentResponse:v1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:core="urn:org:pesc:core:CoreMain:v1.19.1" xmlns:AcRec="urn:org:pesc:sector:AcademicRecord:v1.14.0" xmlns:docResp="urn:org:pesc:message:DocumentResponse:v1.0.0" targetNamespace="urn:org:pesc:message:DocumentResponse:v1.0.0" elementFormDefault="unqualified" version="v1.0.0">	<xs:import namespace="urn:org:pesc:core:CoreMain:v1.19.1" schemaLocation="CoreMain_v1.19.1.xsd"/>	<xs:import namespace="urn:org:pesc:sector:AcademicRecord:v1.14.0" schemaLocation="AcademicRecord_v1.14.0.xsd"/>	<xs:annotation>		<xs:documentation>PESC XML Message Schema for Document Order Response</xs:documentation>	</xs:annotation>	<!--=================================================================================-->	<!--XML Message Schema for Transcript Order Response-->	<!--Revision: 1.4.0-->	<!--Date:       17-December-2014-->	<!--Change Log:-->	<!--1.0.0  06-NOV-2003  Initial Release based on PESC CoreMain.xsd Version 1.3.10-->	<!--=========================================-->	<!--The root element-->	<!--=========================================-->	<xs:element name="DocumentResponse">		<xs:complexType>			<xs:sequence>				<xs:element name="TransmissionData" type="AcRec:TransmissionDataType"/>				<xs:element name="ResponseDetails" type="AcRec:ResponseDetailsType" maxOccurs="unbounded"/>				<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>				<xs:element name="UserDefinedExtensions" type="core:UserDefinedExtensionsType" minOccurs="0"/>			</xs:sequence>		</xs:complexType>	</xs:element></xs:schema>