PESCTAB/JSON Task Force/rules examples/empty.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:pesc:org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="unqualified" attributeFormDefault="unqualified"
            targetNamespace="urn:pesc:org"  vc:minVersion="1.1">
	<xs:element name="A" type="AType">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AType">
		<xs:sequence>
			<xs:element name="B" type="xs:integer" nillable="true" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
