PESCTAB/JSON Task Force/rules examples/jsontrans1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2016 rel. 2 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="element2">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="a b c"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="element3">
		<xs:complexType>
			<xs:attribute name="attribute1" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="attribute2" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="element4">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_element4">
					<xs:attribute name="attribute3" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="test"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="element5">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="element6">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="element7">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="ST_element4">
		<xs:restriction base="xs:string">
			<xs:enumeration value="text1"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
